{{#> emailFrame}}
<p>Dear {{name}},</p>

<p>I trust this message finds you in good health and high spirits. We are
    delighted to share some
    exciting news with you - a new class application has been submitted by
    tutor
    <b>{{tutorName}}</b> for the
    class titled <b>{{classTitle}}</b>.
</p>

<p>To acquaint yourself with the tutor’s profile and credentials, please
    follow this link:
    <a href="{{urlToTutor}}">{{urlToTutor}}</a>
</p>

<p>Additionally, we invite you to revisit your class details at your
    convenience via this link:
    <a href="{{urlToClass}}">{{urlToClass}}</a>
</p>

<p>Our support team is at your disposal for any queries or assistance you
    might require. Please do
    not hesitate to get in touch with us.</p>

<p>Thank you for your continued trust in Tutorify.</p>

<p>Best regards,</p>

<p>The Tutorify Team</p>
{{/emailFrame}}