{{#> emailFrame}}
<p>Dear {{name}},</p>

<p>I hope this message finds you well. We are thrilled to inform you that your
    application to teach the class has been <b>accepted</b> by the student!</p>

<p>You can now start preparing your lessons and materials for the class. You
    can access the class details by clicking on the following link:
    <a href="{{urlToCourse}}">{{urlToCourse}}</a>.
</p>

<p>Additionally, you can also find the class under the 'My Classes' section at
    the following link: <a href="{{urlToMyClasses}}">{{urlToMyClasses}}</a>.</p>

<p>Our support team is always here to help you with any questions or assistance
    you might need. Please do not hesitate to get in touch with us.</p>

<p>Thank you for choosing our platform for your teaching journey. We wish you
    all the best in your classes.</p>

<p>Best regards,</p>

<p>The Tutorify Team</p>
{{/emailFrame}}