{{#> emailFrame}}
<p>Dear {{name}},</p>

<p>I hope this message finds you well. We are thrilled to inform you that
    your tutoring request has been <b>accepted</b> by tutor <b>{{tutorName}}</b>!
</p>

<p>The tutor is excited to start this learning journey with you. You can now
    access the course by clicking on the following link: <a href="{{urlToCourse}}">{{urlToCourse}}</a>.
</p>

<p>Additionally, you can also find the course under the 'My Classes' section
    at the following link: <a href="{{urlToMyClasses}}">{{urlToMyClasses}}</a>.</p>

<p>Our support team is always here to help you with any questions or
    assistance you might need. Please do not hesitate to get in touch with
    us.</p>

<p>Thank you for choosing our platform for your learning journey. We wish
    you all the best in your studies.</p>

<p>Best regards,</p>

<p>The Tutorify Team</p>
{{/emailFrame}}