{{#> emailFrame}}
<p>Dear {{name}},</p>
<p>Your tutor of class
    <b>{{classTitle}}</b>
    added his feedback about the session <b>{{sessionTitle}}</b>:
</p>
<blockquote>{{feedbackText}}</blockquote>
<p>For more details, please click the following link: <a href="{{urlToSession}}">{{urlToSession}}</a></p>
<p>Best regards,</p>
<p>The Tutorify Team</p>
{{/emailFrame}}