{{#> emailFrame}}
<p>Dear {{name}},</p>
<p>We are excited to announce a new session of the class
    <b>{{classTitle}}</b>
    {{#if numOfOtherSessionsCreatedInBatch}}
    along with <b>{{numOfOtherSessionsCreatedInBatch}}</b> other recurring sessions
    {{/if}}.
    Here are the details:
</p>
<table class="cl-session">
    <tr>
        <th>Session Title</th>
        <th>Start Time</th>
        <th>End Time</th>
    </tr>
    <tr>
        <td>{{sessionTitle}}</td>
        <td>{{startDatetime}}</td>
        <td>{{endDatetime}}</td>
    </tr>
</table>
<p>You can access the session by clicking on the following link: <a href="{{urlToSession}}">{{urlToSession}}</a></p>
<p>Looking forward to seeing you there!</p>

<p>Best regards,</p>
<p>The Tutorify Team</p>
{{/emailFrame}}