{{#> emailFrame}}
<p>Dear {{name}},</p>
<p>We regret to inform you that your upcoming session <b>{{sessionTitle}}</b> of class <b>{{classTitle}}</b> has been cancelled by your tutor.</p>
<p>The reason provided by the tutor for the cancellation is as follows:</p>
<blockquote>{{cancellationReason}}</blockquote>
<p>We understand that this may cause inconvenience and we apologize for the same. We encourage you to reschedule the session at your earliest convenience.</p>
<p>For more details or to reschedule the session, please click the following link: <a href="{{urlToSession}}">{{urlToSession}}</a></p>
<p>Best regards,</p>
<p>The Tutorify Team</p>
{{/emailFrame}}